.App {
	height: 100vh;
	/* background-color: #1a202c; */
	overflow-y: scroll;
	text-align: center;
	/* background-color: #aff6cf;
	background-image: linear-gradient(315deg, #aff6cf 20%, #9f98e8 74%); */
	background-color: #5d4257;
	background-image: linear-gradient(0deg, #5d4257 0%, #a5c7b7 74%);
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 30px 0 30px;
}

.authed-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.header {
	margin: 0;
	font-size: 50px;
	font-weight: bold;
	color: #faf9f6;
}

.sub-text {
	font-size: 25px;
	color: #faf9f6;
}

input::placeholder {
	color: #faf9f6;
}

.gradient-text {
	background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.cta-button {
	height: 45px;
	border: 0;
	width: auto;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.connect-wallet-button {
	background: -webkit-linear-gradient(left, #60c657, #35aee2);
	background-size: 200% 200%;
	animation: gradient-animation 4s ease infinite;
}

.submit-gif-button {
	background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
	background-size: 200% 200%;
	animation: gradient-animation 4s ease infinite;
	margin-left: 10px;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding-bottom: 45px;
}

.twitter-logo {
	width: 35px;
	height: 35px;
}

.footer-text {
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.gif-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1rem;
	justify-items: center;
	margin: 10px;
	padding: 0;
}

.gif-grid .gif-item {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-self: center;
	align-self: center;
}

.gif-item img {
	width: 100%;
	height: 300px;
	border-radius: 10px;
	object-fit: cover;
}

.connected-container input[type="text"] {
	display: inline-block;
	color: white;
	padding: 10px;
	height: 45px;
	font-size: 16px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.25);
	border: none;
	border-radius: 10px;
	margin: 5px;
}

.connected-container button {
	height: auto;
  margin: 5px;
}

.submit-container {
	display: grid;
  grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.submit1 {
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 4;
}

.submit2 {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 4;
}

.submit3 {
  grid-row-start: 1;
  grid-row-end: 3;
	grid-column-start: 4;
}

p {
  color: white;
  font-weight: bold;
}